{% macro render(post, from_index=false, from_sidebar=false, from_feed=false, nth=0) -%}
  <article class="blog-post">
    {%- if from_index or from_sidebar %}
      <h2 class="title">
        <a href="{{ post|url }}">{{ post.title }}</a>
      </h2>
    {%- elif not from_feed %}
      <h1 class="title">
        {{ post.title }}
      </h1>
    {%- endif %}
    {%- if not from_feed %}
    <p class="meta">
      {%- if post.guest_author -%}
      by {{ post.guest_author }} | {{ post.pub_date.strftime('%B %-d, %Y') }}
      {%- else -%}
      by <a href="{{ ('/author/' + post.author)|url }}">{{ post.author }}</a> | {{ post.pub_date.strftime('%B %-d, %Y') }}
      {%- endif -%}
    </p>
    {%- endif %}
  {%- if not from_sidebar %}
    {%- if from_index %}
      {%- if post.pub_date > default_image_cutoff -%}
    <a href="{{ post|url }}">
      <picture>
        {{ image_sources(post) }}
        <img class="lead" {% if nth > 3 %}loading="lazy" {% endif %}src="{{ image_url(post) }}">
      </picture>
    </a>
      {%- elif image_url(post, fallback=false) -%}
    <picture>
      {{ image_sources(post, fallback=false) }}
      <img class="lead" {% if nth > 3 %}loading="lazy" {% endif %}src="{{ image_url(post) }}">
    </picture>
      {%- endif -%}
    {%- elif from_feed %}
    <picture>
      {{ image_sources(post, external=True) }}
      <img class="lead" referrerpolicy="no-referrer" loading="lazy" src="{{ image_url(post, external=True) }}">
    </picture>
    {%- else %}
    <picture>
      {{ image_sources(post) }}
      <img class="lead" src="{{ image_url(post) }}">
    </picture>
    {%- endif %}
  {%- endif %}
  {%- if from_index or from_sidebar %}
    {{- render_summary(post) }}
  {%- else %}
    <div class="body">
  {%-   if post.body %}
      {%- if post.guest_author -%}
      <em>This is a guest post by {{ post.guest_author }}.</em>
      {%- endif -%}
      {{ post.body }}
  {%-   else %}
      <link rel="stylesheet" href="{{ '/static/css/legacy.css'|asseturl }}">
      {{ post._html_body }}
  {%-   endif %}
    </div>
  {%- endif -%}
  {%- if post.categories and not from_sidebar %}
  <div class="categories">
    <ul>
      {%- for t in post.categories -%}
      <li>
        <a href="{{ ('/category/' ~ t|slug)|url }}">
          {{ t }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif %}
  {%- if not from_sidebar and not from_index and not from_feed and post.is_discoverable %}
  <div class="comments">
      <h2>Comments</h2>
  {%- if post._html_body %}
  {%-   if post._comments %}
      <p>Please note that the comment area below has been archived.</p>
      {{ post._comments }}
  {%-   else %}
      <p>Comments are closed.</p>
  {%-   endif %}
  {%- else %}
      <p>We encourage respectful, on-topic comments. Comments that violate our
      <a href="https://gitlab.torproject.org/tpo/community/policies/-/blob/master/code_of_conduct.txt">Code of Conduct</a>
      will be deleted. Off-topic comments may be deleted at the discretion of
      the moderators. Please do not comment as a way to receive support or to
      report bugs on a post unrelated to a release. If you are looking for
      support, please see our <a href="https://support.torproject.org/">FAQ</a>,
      <a href="https://forum.torproject.org/">user support forum</a> or ways to
      <a href="https://www.torproject.org/contact">get in touch with us</a>.</p>

      <div id='discourse-comments'></div>

      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'https://forum.torproject.org/',
                           discourseEmbedUrl: '{{ post|url(external=True) }}',
                           discourseReferrerPolicy: 'strict-origin-when-cross-origin'};
        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
        </script>

        <noscript>
          <p>Join the discussion on the <a href="https://forum.torproject.org/c/news/11">Tor Project forum</a>!</p>
        </noscript>
  {%- endif %}
  </div>
  {%- endif %}
  </article>
{% endmacro %}

{% macro image_url(post, external=False, fallback=True) -%}
{% if post.attachments.images.get('lead.png') -%}
{%   set image = post.attachments.images.get('lead.png') -%}
{% elif post.attachments.images.get('lead.jpg') -%}
{%   set image = post.attachments.images.get('lead.jpg') -%}
{% elif post.attachments.images.get('lead.gif') -%}
{%   set image = post.attachments.images.get('lead.gif') -%}
{% elif fallback -%}
{%   set image = '/static/images/lead.png' -%}
{% endif -%}
{% if image and external -%}
{{   url_to(image, external=True) -}}
{% elif image -%}
{{   url_to(image) -}}
{% endif -%}
{% endmacro %}

{% macro image_sources(post, external=False, fallback=True) -%}
{%- if fallback and not post.attachments.images.get('lead.png') and not post.attachments.images.get('lead.jpg') and not post.attachments.images.get('lead.gif') -%}
<source media="(min-width:415px)" srcset="{{ url_to('/static/images/lead.webp', external=external) }}" type="image/webp">
<source srcset="{{ url_to('/static/images/lead_small.webp', external=external) }}" type="image/webp">
{% else -%}
{% if post.attachments.get('lead.webp') -%}
<source media="(min-width:415px)" srcset="{{ url_to(post.attachments.get('lead.webp'), external=external) }}" type="image/webp">
{% endif -%}
{% if post.attachments.get('lead_small.webp') -%}
<source srcset="{{ url_to(post.attachments.get('lead_small.webp'), external=external) }}" type="image/webp">
{% endif -%}
{% endif -%}
{% endmacro %}

{% macro render_summary(post) -%}
    {%- if post.summary %}
      {{ post.summary }}
    {%- elif post._html_body.find("<!--break-->") > -1  %}
      {{ post._html_body.split("<!--break-->")[0] }}
    {%- elif post.body %}
      {{ post.body|truncate(100) }}
    {%- else %}
      <p>{{ post._html_body|striptags|truncate(100) }}</p>
    {%- endif %}
{% endmacro %}
